/*remember to use Arial and sans serif as family fonts */

body, p, ul {
        font-family: 'Source Serif Pro', serif;
}
body {  
        background-color: rgb(251, 213, 200);
        /*font-family: 'Source Serif Pro', serif;*/
        font-size: 20px;
}

hr {
        width: 50%;
        color: gray;
}

h1 {   
        color: rgb(58, 55, 241); 
        font-family: -apple-system; 
        text-align: center;
        line-height: 1;
}

p {
        /*font-family: 'Source Serif Pro', serif;*/
        font-size: 18px;
}

ul {
        /*font-family: 'Source Serif Pro', serif;*/
        font-size: 16px;
}

img {   
        width: 250px;
}

table { 
        width: 100%;
        text-align: center;
        background-color: antiquewhite;
}
